* {
  margin: 0;
  padding: 0;
}

#section1 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#section2 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/2.jpg);
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#section3 {
  height: 100vh;
  width: 100%;
  background-image: url(../img/3.jpg);
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
